Repository ripple/explorer, pull requests merged in 2022-11, with the labels that each got.

#427 Add test case for null NFT URI
  src/containers/shared/components/Transaction/NFTokenMint/test/NFTokenMintSimple.test.jsx
  src/containers/shared/components/Transaction/NFTokenMint/test/mock_data/NFTokenMintNullURI.json
Labels: enhancement, nft

#419 Display buy/sell offer in NFT detail page
  src/containers/NFT/NFT.tsx
  src/containers/NFT/NFTTabs/NFTTabs.tsx
  src/containers/NFT/NFTTabs/test/NFTTabs.test.js
  src/containers/NFT/test/NFT.test.js
  src/rippled/lib/rippled.js
Labels: enhancement, nft

#442 Remove Offer ID from Simple view on failed NFT offers
  src/containers/shared/components/Transaction/NFTokenCreateOffer/Simple.tsx
  src/containers/shared/components/Transaction/NFTokenCreateOffer/test/NFTokenCreateOfferSimple.test.jsx
  src/containers/shared/components/Transaction/NFTokenCreateOffer/test/mock_data/NFTokenCreateOfferFailed.json
Labels: bug, nft

#444 Remove empty Token ID field when NFTokenMint tx failed
  src/containers/shared/components/Transaction/NFTokenMint/Simple.tsx
  src/containers/shared/components/Transaction/NFTokenMint/test/NFTokenMintSimple.test.jsx
  src/containers/shared/components/Transaction/NFTokenMint/test/mock_data/NFTokenMintFailed.json
Labels: bug, nft

#445 Add NFTokenMinter to Account header
  src/containers/Accounts/AccountHeader/index.js
  src/containers/shared/Interfaces.tsx
  src/rippled/lib/utils.js
Labels: enhancement, nft

#447 Add Destination field to NFTokenCreateOffer if exists
  src/containers/shared/components/Transaction/NFTokenCreateOffer/Simple.tsx
  src/containers/shared/components/Transaction/NFTokenCreateOffer/parser.ts
  src/containers/shared/components/Transaction/NFTokenCreateOffer/test/NFTokenCreateOfferSimple.test.jsx
  src/containers/shared/components/Transaction/NFTokenCreateOffer/test/mock_data/NFTokenCreateOfferDestination.json
  src/containers/shared/components/Transaction/NFTokenCreateOffer/types.ts
Labels: enhancement, nft

#446 Change empty NFT offers table message
  public/locales/en-US/translations.json
  src/containers/NFT/NFTTabs/Offers.tsx
Labels: enhancement, nft

#410 refactor: Make transaction tables use react-query
  public/locales/en-US/translations.json
  src/containers/Accounts/AccountTransactionTable/AccountTransactionTable.tsx
  src/containers/Accounts/AccountTransactionTable/actionTypes.js
  src/containers/Accounts/AccountTransactionTable/actions.js
  src/containers/Accounts/AccountTransactionTable/index.ts
  src/containers/Accounts/AccountTransactionTable/reducer.js
  src/containers/Accounts/AccountTransactionTable/test/AccountTransactionTable.test.js
  src/containers/Accounts/AccountTransactionTable/test/actions.test.js
  src/containers/Accounts/AccountTransactionTable/test/reducer.test.js
  src/containers/Accounts/test/index.test.js
  src/containers/Header/Banner.jsx
  src/containers/Token/TokenTransactionTable/TokenTransactionTable.tsx
  src/containers/Token/TokenTransactionTable/actionTypes.js
  src/containers/Token/TokenTransactionTable/actions.js
  src/containers/Token/TokenTransactionTable/index.ts
  src/containers/Token/TokenTransactionTable/reducer.js
  src/containers/Token/TokenTransactionTable/test/TokenTransactionTable.test.js
  src/containers/Token/TokenTransactionTable/test/actions.test.js
  src/containers/Token/TokenTransactionTable/test/reducer.test.js
  src/containers/Token/test/index.test.js
  src/containers/shared/utils.js
  src/rootReducer.js
Labels: cleanup

#448 Clean rows for token-table
  public/locales/en-US/translations.json
  src/containers/NFT/NFTHeader/Details.tsx
  src/containers/NFT/NFTHeader/Settings.tsx
  src/containers/NFT/NFTHeader/test/Details.test.js
  src/containers/Token/TokenHeader/index.js
  src/containers/shared/components/TokenTableRow.tsx
Labels: cleanup, nft

#395 feat(nft): add Issuer field to NFTokenMint tx
  src/containers/NFT/NFTHeader/Details.tsx
  src/containers/shared/components/Transaction/NFTokenMint/Simple.tsx
  src/containers/shared/components/Transaction/NFTokenMint/parser.ts
  src/containers/shared/components/Transaction/NFTokenMint/test/NFTokenMintSimple.test.jsx
  src/containers/shared/components/Transaction/NFTokenMint/test/mock_data/NFTokenMintWithIssuer.json
  src/containers/shared/components/Transaction/NFTokenMint/types.ts
Labels: enhancement, nft
